@import "typography.css";

html {
	background-color: black;
    padding: 0;
    margin: 0;
}

body {
    color: #eeeeee;
    font-family: "Ubuntu Mono";
    margin: 0;
}

button {
    font-family: "Ubuntu Mono";
}

#hero-banner {
    background-image: url("../../static/images/darker_cyberspace_wallpaper_2k.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
    min-width: 300px;
	background-attachment: fixed;
    /* padding: 30px 6%; */
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header-box {
    /* display: flex; */
    background-color: #0E0E0E;
    /* flex-direction: row; */
    /* align-items: center; */
    top: 0;
    border-top: 2px solid #072338;
    box-shadow: 0px 2px 9px #000;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* top: 0; */
    /* border-top: 2px solid #072338; */
    /* box-shadow: 0px 2px 9px #000; */
    /* position: fixed; */
    /* z-index: 10; */
    width: 60%;
    margin: 0 auto;

}

@media only screen and (min-width: 900px) {
    .header-box {
        justify-content: space-around;
    }
    
}

@media only screen and (max-width: 899px) {
    .header {
        padding-left: 15px;
    }
}

.header {
    font-size: 2.5rem;
}

.mobile-menu-overlay {
    position: fixed;
    width: 170px;
    height: 100%;
    right: -170px;
    opacity: 0;
    background-color: #0E0E0E;
    z-index: 10;
    box-shadow: 2px 2px 9px #000;
    transition: 0.2s;
}

.mobile-menu-overlay.active {
    right: 0;
    opacity: 1;
}

.overlay-content {
    margin-top: 60px;
    padding: 20px 10px;
    text-align: right;
}

.overlay-content li {
    list-style: none;
    padding: 12px 0;
    font-size: 1.5rem;
}

.header-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

.header-content {
    /* font-size: 1.5rem; */
    /* align-self: center; */
    /* justify-content: center; */
    /* text-align: center; */
    /* line-height: 1.5; */
    /* width: 80%; */
}

.content-header {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 50px;
}

#typewriter-text.active {
    border-right: 12px solid #eeeeee;
}

#typewriter-text {
    border-right: none;
    font-size: 1.4rem;
}

.sub-content-header {
    /* padding-left: 7%;
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: 50px; */
}

.primary-header {
    /* margin-top: 0px; */
    /* padding-top: 0px; */
    /* padding-left: 300px; */
    /* position: relative; */
    /* left: -50px; */
    /* width: 170px; */
    /* background-color: rgba(42,42,42,0.65); */
    /* line-height: 1.5; */
    /* border-radius: 150px; */
    /* [> font-weight: 500; <] */
    /* font-size: 3.5rem; */
}

.header-spacer {
    flex: 1
}

.nav-menu.active {
    right: -190px;
}

#menu-btn {
    position: relative;
    width: 50px;
    height: 50px;
    border: 3px solid #999999;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin: 7px;
    border-radius: 100px;
    fill: #999999;
    transition: 0.5s;
}

#menu-btn svg path {
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 0.5s;
}

#menu-btn.active { border: 3px solid red; }

#menu-btn svg #menu-path-1.active, #menu-btn svg #menu-path-2.active {
    d: path("M24,17 L83,76 76,83 17,24");
    fill: red;
}

#menu-btn svg #menu-path-3.active {
    fill: red;
    d: path("M17,76 L76,17 83,24 24,83");
}

.nav-menu-list {
    list-style: none;
    display: flex;
    margin: auto 0;
    padding-inline-start: 20px;
}

.nav-menu-list li {
    margin: 0 10px;
}

.nav-menu-link {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 5px;
    margin: 0;
    color: inherit;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-menu-link:hover {
    color: #d25817;
    text-decoration: underline;
}

.main-content {
    width: 60%;
    margin: 40px auto;
	min-width: 300px;
    /* background-color: rgba(42,42,42,0.65); */
    /* border-radius: 15px; */
    padding: 10px 6%;
}

.main-content p {
    text-align: justify;
    margin: 20px 4% 20px;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.main-content p .content-list {
    padding-left: 75px;
}

.main-content p a {
    text-decoration: underline;
    color: #eeeeee;
}

.main-content p a:hover {
    text-decoration: underline;
    color: #d25817;
}

.card-btn {
    margin: 20px;
}

.card {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}

.card-background {
    background-color: rgba(42,42,42,0.65);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.card:hover .card-background{
    filter: brightness(30%);
}

.card-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 1.5rem;
    transition: 0.2s;
    color: #fff;
}

.card-btn:hover > .card > .card-text {
    margin: 0;
    bottom: 50%;
    left: 50%;
    color: #eeeeee;
    transform: translate(-50%, 40%);
    filter: brightness(100%);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 100px;
}

#contact-form {
	width: 80%;
	margin: auto;
}

.form-input {
	position: relative;
}

.form-input input[type="text"]{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999999;
    color: #999999;
    outline: none;
    font-size: 1.1rem;
    font-family: "Ubuntu Mono";
    margin-bottom: 1px;
	width: 100%;
}

.form-input input[type="text"]:focus{
    border-bottom: 2px solid #d25817;
    margin-bottom: 0px;
}

.form-input input[type="text"] + label {
	position: absolute;
	left: 2px;
	bottom: 3px;
	font-size: 1.1rem;
	color: #737373;
	transition: 0.2s;
	cursor: text;
}

.form-input input[type="text"]:focus + label {
	font-size: 0.9rem;
	bottom: 25px;
	color: #d25817;
}

.form-input input[type="text"] + label.active {
	bottom: 25px !important;
	font-size: 0.9rem !important;
	transition: none !important;
}

textarea {
    background-color: transparent;
	box-sizing: border-box;
    border: 1px solid #999999;
    color: #999999;
    outline: none;
    font-size: 1.1rem;
    font-family: "Ubuntu Mono";
    border-radius: 15px;
    padding: 10px;
    resize: none;
    height: 300px;
}

textarea:focus {
    border: 2px solid #d25817;
    padding: 9px !important;
}

.row {
    display: flex;
    width: 100%;
}

.col {
    flex: 1 1 auto;
    display: inline-flex;
    margin: 15px 20px;
}

.col * {
    flex: 0 0 100%;
}

.form-button {
	text-align: right;
}

.form-button button{
	background-color: transparent;
	border: 1px solid #999999;
	cursor: pointer;
	height: 40px;
	width: 125px;
	font-size: 1.2rem;
	color: #999999;
	border-radius: 15px;
	outline: none;
}

@media (max-width: 1280px) {
    .row {
        flex-direction: column;
    }

	.form-button button {
		width: 100%;
	}
}

@media (max-width: 414px) {
    .sub-content-header {
        padding: 0;
        text-align: center;
    }
}


.form-button button:hover {
	border: 2px solid #d25817;
	color: #d25817;
}

.form-button button:active {
	border: 2px solid #a14412;
	color: #a14412;
}

#specs-table {
    margin: 30px auto;
    background-color: rgba(42,42,42,0.65);
    border-radius: 15px;
}

#specs-table tbody tr td {
    padding: 15px;
}

#specs-table tbody tr:last-child td:first-child {
    padding: 15px;
    border-radius: 0 0 0 15px;
}

#specs-table tbody tr:last-child td:last-child {
    padding: 15px;
    border-radius: 0 0 15px 0;
}

#specs-table tbody tr:first-child td:first-child {
    padding: 15px;
    border-radius: 15px 0 0 0;
}

#specs-table tbody tr:first-child td:last-child {
    padding: 15px;
    border-radius: 0 15px 0 0;
}

#specs-table tbody tr:nth-child(even) td {
    background-color: rgba(55, 55, 55, 0.65);
}

#specs-table tbody tr td:last-child {
    text-align: right;
    padding-left: 50px;
}

#login-form {
    flex-direction: row;
}
